    body, html {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: 'Quicksand', sans-serif;
        overflow: hidden;
        /* fixes background blur */
        background-color: black;
    }

    #background {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        object-fit: cover;
        transform: translate(-50%, -50%);
        filter: blur(25px); 
        transition: filter 1s ease;
        z-index: 0;
    }

    .content {
        color: white;
        font-size: 2rem;
        text-align: center;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-weight: normal;
        display: block;
        opacity: 0;
        transition: opacity 1s ease-in;
        z-index: 1;
    }

    .content.show {
        display: block;
        opacity: 1;
    }

    /* use this for image icon */
    /* .icon {
        position: relative;
        z-index: 3;
        width: 250px;
    } */

    .icon {
        color: #54525D;
        font-size: 18px;   
        line-height: 1.1;
        white-space: pre;
        text-align: center;
        margin: 0 auto;
        z-index: 3;
        user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        pointer-events: none;
    }

    @media (max-width: 1000px) {
        .icon {
            font-size: 5px; /* scale down on small screens */
        }
    }

    .social-links {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    .social-links a {
        text-decoration: none;
    }

    .social-links img {
        width: 40px;
        height: 40px;
        filter: drop-shadow(0 0 5px #000000);
        transition: transform 0.2s, filter 0.2s;
    }

    .social-links img:hover {
        transform: scale(1.1);
        filter: drop-shadow(0 0 10px #000000);
    }

    #enter-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: opacity 0.8s ease;
        z-index: 2;
    }

    #enter-text {
        color: white;
        font-size: 3rem;
        font-family: "consolas";
        text-align: center;
    }